.intro{
    text-align: center;
    background-image: url(/images/backgrounds/backgnd001.jpg);
    color: white;
    background-size: cover;

}
.services{
    text-align: center;
    background-image: url(/images/backgrounds/back002.jpg);
    background-size: cover;
    color: white;
}