.intro{
    text-align: center;
    background-image: url(/images/backgrounds/backgnd001.jpg);
    color: white;
    background-size: cover;

}
.services{
    text-align: center;
    background-image: url(/images/backgrounds/back002.jpg);
    background-size: cover;
    color: white;
}
.what-we-do{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
.what-we-do .headings{
    padding-bottom: 38px;
/* .hide{
    display: ;
}
.whatWeDo{
    text-align: center;
}
.Hover {
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
  }
  .custom-info-on-portfolio-images {
    height: 280px;
    max-width: 280px;
    padding:2px;
  }
  .row{
    padding:2%;
  } */
